<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Мои достижения</h4>
                <p>
                    Выполняйте задания, получайте достижения, вытащите саму большую репку!
                </p>

                <ul class="grid-md-4 grid-sm-3 grid-xs-2 icon-list no-wrap">
                    <li><span><i><img src="~/img/icons/1.png"></i>Выполните заданий: 5</span></li>
                    <li><span><i><img src="~/img/icons/2.png"></i>Выполните заданий: 10</span></li>
                    <li><span><i><img src="~/img/icons/3.png"></i>Выполните заданий: 25</span></li>
                    <li><span><i><img src="~/img/icons/4.png"></i>Выполните заданий: 50</span></li>
                    <li><span><i><img src="~/img/icons/5.png"></i>Полейте рассаду 10 раз</span></li>
                    <li><span><i><img src="~/img/icons/6.png"></i>Полейте рассаду 20 раз</span></li>
                    <li><span><i><img src="~/img/icons/7.png"></i>Полейте рассаду 30 раз</span></li>
                    <li><span><i><img src="~/img/icons/8.png"></i>Полейте рассаду 50 раз</span></li>
                    <li><span><i><img src="~/img/icons/9.png"></i>Посадите 2 грядки</span></li>
                    <li><span><i><img src="~/img/icons/10.png"></i>Посадите 5 грядок</span></li>
                    <li><span><i><img src="~/img/icons/11.png"></i>Посадите 10 грядок</span></li>
                    <li><span><i><img src="~/img/icons/12.png"></i>Посадите 20 грядок</span></li>
                    <li><span><i><img src="~/img/icons/13.png"></i>Поделитесь графиком полива в одноклассниках</span></li>
                    <li><span><i><img src="~/img/icons/14.png"></i>Поделитесь графиком полива с 5 людьми</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>