<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Мои достижения</h4>
                <p>
                    Выполняйте задания, получайте достижения, вытащите саму большую репку!
                </p>

                <ul class="grid-md-4 grid-sm-3 grid-xs-2 icon-list no-wrap">
                    <li><span><i><img src="~/img/icons/1.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/2.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/3.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/4.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/5.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/6.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/7.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/8.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/9.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/10.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/11.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/12.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/13.png"></i>test test test</span></li>
                    <li><span><i><img src="~/img/icons/14.png"></i>test test test</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>