@{
    ViewData["Title"] = "Home Page";
}

<div class="slideshow-container" id="hero">
        <div class="slideshow" data-flex-fullscreen="true">
            <ul class="slides">
                <li>
                    <img src="~/img/slideshow/slider-3.jpg" data-position-y="top" alt="Slideshow Image">
                    <div class="flex-content-wrapper">
                        <div class="flex-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="hero-caption no-margin flex-animate" data-animate="fadeInDown">
                                            Виртуальный помощник по выращиванию растений
                                        </p>
                                        <hr class="hero-separator flex-animate" data-animate="fadeInDown"
                                            data-animate-delay="500">
                                        <h1 class="hero-heading flex-animate" data-animate="fadeInDown"
                                            data-animate-delay="650">
                                            С нашей помощью<br>Вы станете профессиональным агрономом!
                                        </h1>
                                        <a href="#" class="btn btn-default flex-animate" data-animate="fadeInLeft"
                                            data-animate-delay="1000">Присоединяйтесь к нам</a>
                                        <a href="#" class="btn btn-white btn-border flex-animate"
                                            data-animate="fadeInRight" data-animate-delay="1000">Больше информации</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/img/slideshow/slider-1.jpg" data-position-y="top" alt="Slideshow Image">
                    <div class="flex-content-wrapper">
                        <div class="flex-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="hero-caption no-margin flex-animate" data-animate="fadeInDown">
                                            Мы поможем вам с организацией огорода и не только
                                        </p>
                                        <hr class="hero-separator flex-animate" data-animate="fadeInDown"
                                            data-animate-delay="500">
                                        <h1 class="hero-heading flex-animate" data-animate="fadeInDown"
                                            data-animate-delay="650">
                                            Присоединитесь<br>И воплотите ваши мечты в реальность
                                        </h1>
                                        <a href="#" class="btn btn-default flex-animate" data-animate="fadeInLeft"
                                           data-animate-delay="1000">Присоединяйтесь к нам</a>
                                        <a href="#" class="btn btn-white btn-border flex-animate"
                                           data-animate="fadeInRight" data-animate-delay="1000">Больше информации</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="~/img/slideshow/slider-2.jpg" alt="Slideshow Image">
                    <div class="flex-content-wrapper">
                        <div class="flex-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="hero-caption no-margin flex-animate" data-animate="fadeInDown">
                                            Мы поможем вам создаать огород мечты
                                        </p>
                                        <hr class="hero-separator flex-animate" data-animate="fadeInDown"
                                            data-animate-delay="500">
                                        <h1 class="hero-heading flex-animate" data-animate="fadeInDown"
                                            data-animate-delay="650">
                                            Проще пареной репы<br>Заниматься огородом стало легко!
                                        </h1>
                                        <a href="#" class="btn btn-default flex-animate" data-animate="fadeInLeft"
                                           data-animate-delay="1000">Присоединяйтесь к нам</a>
                                        <a href="#" class="btn btn-white btn-border flex-animate"
                                           data-animate="fadeInRight" data-animate-delay="1000">Больше информации</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="section gray-bg border-section half-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="counter-box no-margin-lg no-margin-md">
                        <i class="craftico-humans_01"></i>
                        <div class="counter-content">
                            <span class="count-me number" data-to="245" data-speed="2500">245</span>
                            <h6 class="counter-title">Довольных пользователей</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter-box no-margin-lg no-margin-md">
                        <i class="craftico-flower"></i>
                        <div class="counter-content">
                            <span class="count-me number" data-to="358" data-speed="2500">358</span>
                            <h6 class="counter-title">Проектов создано</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter-box no-margin-lg no-margin-md no-margin-sm">
                        <i class="craftico-ecology-award"></i>
                        <div class="counter-content">
                            <span class="count-me number" data-to="78" data-speed="2500">93</span>
                            <h6 class="counter-title">Пользовательские достижения</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter-box no-margin">
                        <i class="craftico-urban-planning"></i>
                        <div class="counter-content">
                            <span class="count-me number" data-to="128" data-speed="2500">286</span>
                            <h6 class="counter-title">Премиум-участников</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section no-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <h4 class="text-color">Добро пожаловать в ARgronom</h4>
                    <p class="lead">Мы готовы передать вам наш опыт во всех вспектах садоводства и ухода за огородом</p>
                </div>
                <div class="col-lg-8 col-md-7">
                    <p>
                        Научитесь всему, что связано с уходом за огородом за короткие сроки. Все, что вам нужно
                        для посадки, ухода и дизайна вашего огорода, можно найти у нас. Для любых ваших потребностей
                        мы сможем найти предложение. Также мы готовы предложить вам любую помощь по уходу за огородом.
                    </p>
                </div>
                <div class="col-md-12">
                    <hr class="separator">
                </div>
            </div>
        </div>
    </section>

    <section class="section no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title text-center no-border">
                        <h3><strong class="text-color">Работайте</strong>над своим огородом </h3>
                        <p>Используя наше приложение, вы непременно станете проессионалом <br> начиная от посадки, заканчивая сбором урожая, вы научитесь всему.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="gallery-filter text-center">
                        <li><a href="#" class="btn btn-default btn-outline btn-round active" data-filter="*">Все категории</a>
                        </li>
                        <li><a href="#" class="btn btn-default btn-outline btn-round"
                                data-filter=".maintenance">Уход за огородом</a></li>
                        <li><a href="#" class="btn btn-default btn-outline btn-round"
                                data-filter=".decoration">Декорация</a></li>
                        <li><a href="#" class="btn btn-default btn-outline btn-round"
                                data-filter=".protection">Защита от вредителей</a></li>
                    </ul>

                    <ul class="gallery-container grid-md-5 grid-sm-2 grid-xs-2 no-wrap no-gutter">
                        <li class="decoration protection">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p1.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="img/portfolio/p1-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="protection">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p2.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="img/portfolio/p2-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="decoration maintenance">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p3.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="img/portfolio/p3-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="decoration">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p4.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="img/portfolio/p4-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="maintenance">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p5.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="~/img/portfolio/p5-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="protection">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p6.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="~/img/portfolio/p6-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="maintenance">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p7.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="~/img/portfolio/p7-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption 7">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="protection">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p8.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="img/portfolio/p8-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="protection">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p9.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="~/img/portfolio/p9-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="~/gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                        <li class="protection">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/img/portfolio/p10.jpg" alt="Portfolio Image">
                                    <div class="img-overlay"></div>

                                    <a href="~/img/portfolio/p10-thumb.jpg" class="venobox preview" data-gall="myGallery"
                                        title="Example of description caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title text-center">
                        <h3>Наш <strong class="text-color">Блог</strong></h3>
                        <p>Следите за нашим блогом
                            <br>А также за постами наших опытных пользователей</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <article class="post-item simple-blog">
                        <div class="post-media">
                            <a href="single-post.html">
                                <img src="~/img/blog/blog-1.jpg" alt="Blog Image" />
                            </a>
                        </div>

                        <div class="post-container">
                            <div class="post-header">
                                <h5 class="post-title no-margin">
                                    <a href="single-post.html">Keeping Your Garden Healthy</a>
                                </h5>

                                <ul class="post-meta">
                                    <li class="author-meta">
                                        <i class="fa fa-user" aria-hidden="true"></i> <a href="#">John Doe</a>
                                    </li>
                                    <li class="category-meta">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">24 Nov 2016</a>
                                    </li>
                                    <li class="comment-meta">
                                        <i class="fa fa-comment" aria-hidden="true"></i> <a href="#">2</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="post-content">
                                <p>Here are some tips to keep your garden healthy, green and growing to its fullest
                                    potential. Feed the soil and the soil feeds the plants. Healthy soil . . .</p>

                                <a class="btn btn-sm btn-default" href="single-post.html">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-12">
                    <article class="post-item simple-blog">
                        <div class="post-media">
                            <a href="single-post.html">
                                <img src="~/img/blog/blog-2.jpg" alt="Blog Image" />
                            </a>
                        </div>

                        <div class="post-container">
                            <div class="post-header">
                                <h5 class="post-title no-margin">
                                    <a href="single-post.html">Caring for your Garden</a>
                                </h5>

                                <ul class="post-meta">
                                    <li class="author-meta">
                                        <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Howard</a>
                                    </li>
                                    <li class="category-meta">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">20 Nov 2016</a>
                                    </li>
                                    <li class="comment-meta">
                                        <i class="fa fa-comment" aria-hidden="true"></i> <a href="#">14</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="post-content">
                                <p>Even if you only have a small square of lawn to look after, keeping your grass green
                                    and healthy can turn a sad, unused area into an inviting . . .</p>

                                <a class="btn btn-sm btn-default" href="single-post.html">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-12">
                    <article class="post-item simple-blog">
                        <div class="post-media">
                            <a href="single-post.html">
                                <img src="~/img/blog/blog-3.jpg" alt="Blog Image" />
                            </a>
                        </div>

                        <div class="post-container">
                            <div class="post-header">
                                <h5 class="post-title no-margin">
                                    <a href="single-post.html">Best Tips for Garden Maintenance</a>
                                </h5>

                                <ul class="post-meta">
                                    <li class="author-meta">
                                        <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Jane Doe</a>
                                    </li>
                                    <li class="category-meta">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">16 Nov 2016</a>
                                    </li>
                                    <li class="comment-meta">
                                        <i class="fa fa-comment" aria-hidden="true"></i> <a href="#">8</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="post-content">
                                <p>Maintaining a garden is a more or less constant task, whether you are just keeping it
                                    tidy or planning major changes. If you find yourself . . .</p>

                                <a class="btn btn-sm btn-default" href="single-post.html">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section cta-bottom-container content-contrast">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h2>Ready to <strong>Get Started?</strong></h2>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" class="btn btn-default btn-block">Get Free Quote</a>
                </div>
            </div>
        </div>
    </section>