
@model IEnumerable<ARgronom.Models.Plants>

<div class="offset-md-1 col-md-10">
    <div class="heading-title text-center no-border">
        <h3>Выберите <strong class="text-color">растения</strong> для посадки</h3>
    </div>
</div>
<div class="col-md-12">
    <ul class="text-center">
        <li>
            <a class="btn btn-sm btn-default" href="/Plants/Index">Все категории</a>
        </li>
    </ul>
    <div class="row">
        @foreach (var plant in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="team-item">
                    <img src="~/products/@plant.ImageName" alt="@plant.Title">
                    <div class="team-item-container">
                        <h5 class="no-margin">@plant.Title</h5>
                        <strong class="text-color">@plant.Category</strong>
                        <p class="crop">
                            @plant.Description
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
