@using ARgronom.Models.ViewModels

@model List<PersonalAreaIndexModel>

<div class="offset-md-1 col-md-10">
    <div class="heading-title text-center no-border">
        <h3><strong class="text-color">Ваши растения</strong></h3>
    </div>
</div>
<div class="col-md-12">
    <ul class="text-center">
        <li>
            <a class="btn btn-sm btn-default" href="/Plants/Index">Посадить еще</a>
        </li>
    </ul>
    <div class="row">
        @foreach (var persAreaModel in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="team-item">
                    <a href="/PersonalArea/MyDetail/?userPlantId=@persAreaModel.UserPlant.Id">
                        <img src="~/products/@persAreaModel.Plant.ImageName" alt="@persAreaModel.Plant.Title">
                        <div class="team-item-container">
                            <h5 class="no-margin">@persAreaModel.Plant.Title</h5>
                            <strong class="text-color">@persAreaModel.Plant.Category</strong>
                            <p class="crop">
                                @persAreaModel.Plant.Description
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
