@using ARgronom.Models.ViewModels

@model MyDetailViewModel

<div id="page-header" class="content-contrast">
    <div class="page-title-container">
        <div class="background-overlay"></div>
        <div class="container centered-container">
            <div class="centered-inner-container">
                <h1 class="page-title">@Model.Plant.Title</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="/Home/Index">Главная</a>
                        <a class="breadcrumb-item" href="/PersonalArea/Index">Личный кабинет</a>
                        <span class="breadcrumb-item active">@Model.Plant.Title</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-media">
                    <div class="post-type-carousel">
                        <img src="~/img/products/@Model.Plant.ImageName" alt="@Model.Plant.ImageName" />
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="heading-title">
                    <h3>Описание</h3>
                </div>
                <p>
                    @Model.Plant.Description
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="promo-box green content-contrast no-margin">
                    <div class="heading-title">
                        <h5>Запустить режим дополненной реальности</h5>
                    </div>
                    <p>
                        С помощью режима дополненной реальности вы сможете обозначить геолокационные метки для 
                        слежения за различными параметрами своих грядок
                    </p>
                    <a class="btn btn-default btn-outline white" href="#">Запустить</a>
                </div>
            </div>

            <div class="col-md-12">
                <hr class="separator">
            </div>

            <div class="col-md-12">
                <div class="heading-title">
                    <h4>Related Gallery</h4>
                </div>
                <ul class="gallery-container grid-md-4 grid-sm-2 no-wrap">
                    <li class="web motion">
                        <figure class="img-gallery">
                            <div class="img-content">
                                <img src="img/portfolio/p1.jpg" alt="Portfolio Image">
                                <div class="img-overlay"></div>

                                <a href="img/portfolio/p1-thumb.jpg" class="preview venobox"
                                   title="Example of description caption">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                            </div>
                        </figure>
                    </li>
                    <li class="motion">
                        <figure class="img-gallery">
                            <div class="img-content">
                                <img src="img/portfolio/p2.jpg" alt="Portfolio Image">
                                <div class="img-overlay"></div>

                                <a href="img/portfolio/p2-thumb.jpg" class="preview venobox"
                                   title="Example of description caption">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                            </div>
                        </figure>
                    </li>
                    <li class="web print">
                        <figure class="img-gallery">
                            <div class="img-content">
                                <img src="img/portfolio/p3.jpg" alt="Portfolio Image">
                                <div class="img-overlay"></div>

                                <a href="img/portfolio/p3-thumb.jpg" class="preview venobox"
                                   title="Example of description caption">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                            </div>
                        </figure>
                    </li>
                    <li class="web">
                        <figure class="img-gallery">
                            <div class="img-content">
                                <img src="img/portfolio/p4.jpg" alt="Portfolio Image">
                                <div class="img-overlay"></div>

                                <a href="img/portfolio/p4-thumb.jpg" class="preview venobox"
                                   title="Example of description caption">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a href="gallery-single.html" class="permalink"><i class="fa fa-link"></i></a>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section border-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Индикаторы запаса воды растения и удобрения</h3>
                <p>
                    Индикаторы показывают степень запаса воды в растении и эффект удобрений.
                    Если индикаторы достигают минимальной процентной отметки, то растение может
                    погибнуть.
                </p>
            </div>
            <div class="col-lg-3">
                <div class="me-circle-bar blue" data-percent="60"></div>
                <p class="text-center">Запас воды</p>
            </div>
            <div class="col-lg-3">
                <div class="me-circle-bar green" data-percent="70"></div>
                <p class="text-center">Эффект удобрений</p>
            </div>
        </div>
    </div>
</section>